*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Background: #ffffff;
    --CorPrincipal: #684A3A;
    --CorSecundaria: #6A4B3A;
    --CorBotao: #A64D4D;
    --CorVerdade: #6AB28D;
    --CorReforcos: #E7C7A0;
}
@font-face {
    font-family: 'Bold';
    src: url('../../fonts/Montserrat-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Regular';
    src: url('../../fonts/Montserrat-Regular.woff') format('woff');
}
@font-face {
    font-family: 'SemiBold';
    src: url('../../fonts/Montserrat-SemiBold.woff') format('woff');
}
span{
    font-family: 'Bold';
}
main {
    background-image: url(../../images/background-innpele.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 85vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main .text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 1100px;
    margin: 0 auto;
    padding-left: 50px;
    gap: 10px;
}
main .text h1{
    width: 500px;
    color: var(--CorPrincipal);
    font-family: 'SemiBold';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
main .text p{
    width: 540px;
    color: var(--CorSecundaria);
    font-family: 'Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.btn{
    display: inline-flex;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--CorBotao);
    color: #FFF;
    font-family: 'SemiBold';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
    margin-top: 12px;
}
main .text img{
    width: 160px;
}
#sobre{
    height: 100dvh;
    display: flex;
    align-items: center;
}
#sobre .container{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#sobre .dir{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#sobre h1{
    color: var(--CorPrincipal);
    font-family: 'SemiBold';
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 430px;
    margin-bottom: 10px;
}
#sobre li{
    color: #8D5B3B;
    font-family: 'Regular';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    width: 470px;
}
#sobre .esq img{
    width: 500px;
    height: 540px;
}
#servicos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
}
#servicos h1{
    color: var(--CorPrincipal);
    text-align: center;
    font-family: 'SemiBold';
    font-size: 38px;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 10px;
}
#servicos .container{
    width: 1050px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 10px;
}
#servicos .card{
    display: flex;
    width: 350px;
    height: 250px;
    padding: 60px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(94, 94, 94, 0.30);
    background: rgba(94, 94, 94, 0.04);
    backdrop-filter: blur(7.5px);
}
#servicos .card h2{
    color: #6A4B3A;
    font-family: 'SemiBold';
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
#servicos .card p{
    color: #8D5B3B;
    font-family: 'Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}